@component('components/layout', { title: title })
  <h1>
    Ajout d'un deck
  </h1>
  <form action="{{ route('deck.store') }}" method="post">
    @include('partials/createOrUpdateDeck')
  </form>
@endcomponent
