@component('components/layout', { title: title })
  <h1>
    Modifier un deck
  </h1>
  <form action="{{ route('deck.update', {deck_id: deck.id}) }}" method="post">
    @include('partials/createOrUpdateDeck')
  </form>
@endcomponent
