{{ csrfField() }}
<div class="field">
  @!component('components/input', { name: 'username', label: 'Username',  })
</div>

<div class="field">
  @!component('components/input', { name: 'password', label: 'Password',  })
</div>

<button type="submit">S'enregistrer</button>